/* 
/* 
/*  custom.css
/*
/*  If not using Gulp and Sass, add your custom CSS below then include it
/*  in your page by adding a reference to assets/css/custom.css in the head of each page.
/*
*/


.footer-1 hr {
    margin-top: 0rem !important;
}


footer {
    padding: 0 !important;
}